<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>Contact</title>
    </head>
    <body>
        <nav>
            <div class="nav-item"><a href="/">Home</a></div>
            <div class="nav-item"><a href="projects">Projects</a></div>
            <div class="nav-item"><a href="contact">Contact</a></div>
        </nav>
    </body>
    <form action="#" method="POST">
        <input type="text" name="name" value="" placeholder="Name"></input>
        <input type="email" name="email" value="" placeholder="email@somewhere.net"></input><br />
        Message:<br />
        <textarea name="message" value=""></textarea>
        <input type="submit" name="submit" value="Submit"></input>
    </form>
</html>