<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>Projects</title>
    </head>
    <body>
        <nav>
            <div class="nav-item"><a href="/">Home</a></div>
            <div class="nav-item"><a href="projects">Projects</a></div>
            <div class="nav-item"><a href="contact">Contact</a></div>
        </nav>
        <div class="project">
            <h3>Project 1</h3>
            <img src="images/project1.jpg" alt="project 1 image">
            <div class="aboutproject">
                All about Project 1. It is rare to meet a Lannister who shares my enthusiasm for dead Lannisters. A good act does not wash out the bad, nor a bad act the good. Each should have its own reward. More pigeon pie, please. Unbowed, Unbent, Unbroken. Bastards are born of passion, aren't they? We don't despise them in Dorne. Unbowed, Unbent, Unbroken. A Lannister always pays his debts. The night is dark and full of terrors. Forgive my manners. I don't see many ladies these days. Lucky for the ladies. More pigeon pie, please.
            </div>
        </div>
        <div class="project">
            <h3>Project 2</h3>
            <img src="images/project2.png" alt="project 2 image">
            <div class="aboutproject">
                All about Project 2. It is rare to meet a Lannister who shares my enthusiasm for dead Lannisters. A good act does not wash out the bad, nor a bad act the good. Each should have its own reward. More pigeon pie, please. Unbowed, Unbent, Unbroken. Bastards are born of passion, aren't they? We don't despise them in Dorne. Unbowed, Unbent, Unbroken. A Lannister always pays his debts. The night is dark and full of terrors. Forgive my manners. I don't see many ladies these days. Lucky for the ladies. More pigeon pie, please.
            </div>
        </div>
        <div class="project">
            <h3>Project 3</h3>
            <img src="images/project3.png" alt="project 3 image">
            <div class="aboutproject">
                All about Project 3. It is rare to meet a Lannister who shares my enthusiasm for dead Lannisters. A good act does not wash out the bad, nor a bad act the good. Each should have its own reward. More pigeon pie, please. Unbowed, Unbent, Unbroken. Bastards are born of passion, aren't they? We don't despise them in Dorne. Unbowed, Unbent, Unbroken. A Lannister always pays his debts. The night is dark and full of terrors. Forgive my manners. I don't see many ladies these days. Lucky for the ladies. More pigeon pie, please.
            </div>
        </div>
    </body>
</html>